<html xmlns:th="https://www.thymeleaf.org">
<head>
	<title>File Upload</title>
</head>
<body>

	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>

	<div>
		<button  type="button"><a href="/refresh">刷新</a> </button>
	</div>


	<div>
		<form method="POST" enctype="multipart/form-data" action="/">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>

	<div>
		<ul>
			<form method="post" th:each="file : ${files}" th:action="${'/files'+file.id}">
				<li >

					<a href="javascript:void(0)" th:text="${file.name}" th:data-url="${file.url}" th:data-name="${file.name}" onclick="downloadFile(this.getAttribute('data-url'),this.getAttribute('data-name'))"></a>
					<button type="submit" style="color: crimson" th:value="${file.id}">X</button>

				</li>
			</form>
		</ul>

		<script th:inline="javascript">

			//此函数为了修改下载的文件名，但是导致不能正确显示下载进度
			function downloadFile(url,name) {
				
				let x = new XMLHttpRequest();
				x.open("GET", url, true);
				x.responseType = 'blob';
				x.onload=function(e) {
					let url = window.URL.createObjectURL(x.response);
					let a = document.createElement('a');
					a.href = url
					a.download = name;
					a.click()
				}
				x.send();
			}

		</script>
	</div>




</body>


</html>
